<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <input class="form-control" placeholder="name">
    </div>
      <div class="col-xs-12">
        <input class="form-control" placeholder="lastname">
      </div>
      <div class="col-xs-12">
        <input class="form-control" placeholder="age">
      </div>
    </div>
    <div class="row">
    <div class="col-xs-12">
    <input class="form-control" placeholder="location">
    </div>
    </div>
    <button class="btn btn-success">Submit</button>
  </div>
  

 
